{{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
        {% block titulo %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'app/css/adminlte.min.css' %}">
    
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand"  href="{% url 'app:inicio2' %}" >RankingMovie <img class="d-block w-100" ></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'app:inicio2' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:ranking2' %}">Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:cartelera2' %}">Cartelera</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:categorias2' %}">Categoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:ultipeli2' %}">Ultimas Peliculas</a>
          </li>
          </ul>
          
          <form class="form-inline my-2 my-lg-0" action='/app/buscarpeli2/'>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
          
          <form class="form-inline my-2 my-lg-0">
            
            <a hhref="{% url 'app:salir' %}"> <button type="button" class="btn btn-outline-dark">salir </button></a>
            
    
          </form>
        </div>
      </nav>
</header>

    {% block contenido %}
  

    {% endblock %}

</body>