{% extends "app/baseanonimo.html"%}
{% load static %}

{% block titulo %}
Cartelera anonimo
{% endblock%}

{% block contenido %}
<h1 class="display-1">Cartelera anonimo</h1>


                       
<div class="content">
  <div class="card-deck" style="margin: 20px 50px">
    {% for p in encartelera %}
    
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
          <h3 class="card-title">{{p.titulo}}</h3>
          <p class="card-text"> {{p.anio}}</small></p>
          <a href="{% url 'app:verpeli1' p.id %}"><button type="button" class="btn btn-outline-light" >Ver</button></a>
       </div>
     </div>
     

    {% endfor %} 
    
  </div>   
</div>


 
  
  

{% endblock %}