{% extends "app/baselogin.html"%}
{% load static %}

{% block titulo %}
Olvide contraseña
{% endblock%}

{% block login-box%}
Olvide contraseña
{% endblock %}

{% block box%}

<div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="Email">
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Enviar link</button>
    </div>
    <!-- /.col -->
  </div>
</form>

<p class="mt-3 mb-1">
  <a href="{% url 'app:login' %}">Login</a>
</p>


{% endblock %}