{% extends "app/baselogin.html"%}
{% load static %}

{% block titulo %}
Registro
{% endblock%}

{% block login-box%}
Registro
{% endblock %}

{% block box%}


<form action="{% url 'app:post_registro' %}" method="post">
  {% csrf_token %}
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Apellido" name="apellido">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo Electronico" name="correo">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña" name="contraseña">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <!-- <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Confirmar">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div> -->

            <div class="row">
              <!-- <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms">
                    Acepto terminos y condiciones <a href="#">terms</a>
                  </label>
                </div>
              </div> -->

                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
                <!-- /.col -->
              
</form>
<!-- </div> -->
{% endblock %}